.nav {
    width: 100vw;
    left: 0;
    z-index: 9999;
    position: fixed;
	top: 0;
}

.nav-logo {
    /* max-width: 30px; */
    max-height: 70px;
}

.nav-logo:hover {
    cursor: pointer;
}

.nav-content {
    background: #8ECAFB;
    display: flex;
    align-items: center;
    width: 100vw;
}

ul.nav-items {
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-around;
    font-size: 20px;
}

li.nav-item {
    cursor: pointer;
}

a.nav-link {
    color: #383838;
    font-weight: 600;
}

@media (max-width: 700px) {
    .nav {
        visibility: hidden;
    }
}