.section-1 {
    display: flex;
    align-items: center;
    /* padding: 30px; */
    justify-content: center;
}

.main-pic {
    height: 30vh;
}

.main-words {
    width: 50vw;
}

.section-3 {
    display: flex;
    align-items: center;
    padding: 30px;
    border-bottom: 20px solid #6846 ;
}

.section-3 p {
    max-width: 45vw;
}

.section-3 img {
    max-width: 45vw;
}

.award-cont {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.awards {
    max-width: 30vw;
    max-height: 30vh;
}


@media (max-width: 1100px) {
    .section-1 {
        flex-direction: column;
    }
    .section-2 {
        display: flex;
        flex-direction: column-reverse;
    }
    .section-3 {
        flex-direction: column-reverse;
    }
    .section-3 p {
        max-width: 100%;
    }
    .section-3 img {
        max-width: 85vw;
    }
    .main-words {
        width: 85vw;
    }
}