.donateCont{
    display: flex;
    flex-direction: column;
    background: #6846;
    padding: 50px;
}

.max-donate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.corps-donate {
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.donate-pic {
    height: 40vh;
    background: white;
    display: flex;
    justify-content: center;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    align-items: center;
}

.donate-pic img {
    max-width: 40vw;
    max-height: 20vh;
}

.donate-pic.navy{
    background-color: #002650;
}

.donate-words {
    max-width: 45vw;
    font-size: 18px;
}

.donate-words p {
    font-weight: 400;
}

.donate-btn {
    background-color: #51769b;
    border: 2px solid #7babcb;
    border-radius: 5px;
    color: whitesmoke;
    padding: 20px;
    position: static;
}

.donate-btn:hover {
    background-color: #6aa773;
    transition: background-color 300ms linear;
}