.App {
  text-align: center;
  background-color: #8ECAFB;
  color: #383838;
}

#section2 {
  border-bottom: 20px solid #8ECAFB;
  overflow: hidden;
}

#section3 {
  padding: 20px;
  background: whitesmoke;
}

a {
  color: black;
}

p {
  /* text-shadow: 1.5px 2px #000; */
  font-size: 25px;
  font-weight: 340;
  padding: 2%;
  cursor: default;
}