.App {
  text-align: center;
  background-color: #008080;
  color: #fff;
}

#section2 {
  border-bottom: 20px solid #008080;
  overflow: hidden;
}

#section3 {
  padding: 20px;
  background: whitesmoke;
}

a {
  color: black;
}

p {
  font-size: 25px;
  font-weight: 300;
  padding: 2%;
  cursor: default;
}