.App {
  text-align: center;
  background-color: #008080;
  color: #fff;
}

#section3 {
  padding: 20px;
  background: whitesmoke;
}

a {
  color: black;
}

p {
  font-size: 1.3em;
  font-weight: 300;
  padding: 3%;
}